/* src/app/about/about.component.css */
.section-bg {
    background: linear-gradient(135deg, #6d66ef, #b997f4, #f174ad);
    background-size: 200% 200%;
    animation: gradientShift 20s ease infinite;
    padding-top: 5rem; /* py-20 */
    padding-bottom: 5rem;
}