.hero-bg {
    background: linear-gradient(135deg, #6d66ef, #b997f4, #f174ad);
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
    padding-top: 6rem; /* py-24 */
    padding-bottom: 6rem;
}

@media (min-width: 768px) {
    .hero-bg {
        padding-top: 8rem; /* md:py-32 */
        padding-bottom: 8rem;
    }
}

.relative {
    position: relative;
    
    overflow: hidden;
}